#root {
  height: 100%;
}

.placeholder {
  font-family: Arial;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e;
  box-sizing: border-box;
}
